{
  "presets": [],
  "plugins": [],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 6
            },
            "loose": true
          }
        ],
        "stage-3",
        "babili"
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "dev": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            },
            "loose": true
          }
        ],
        "stage-3"
      ],
      "plugins": [
        "add-module-exports"
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 6
            },
            "modules": false,
            "loose": true
          }
        ],
        "stage-3",
        "babili"
      ],
      "plugins": []
    }
  }
}