# lock files
npm-shrinkwrap.json
package-lock.json
yarn.lock

# ignore all built *.js files
/*.js
src/index.js
/babel
/es
/prod
/lib

# ignore built type definitions
/*.d.ts
src/index.d.ts

# re-include these *.js files
!.eslintrc.js
!ava.config.js
!babel.config.js

node_modules

stunsail-*.tgz
