# lock files
yarn.lock
package-lock.json

# ide configurations
.c9
.idea
.vscode

# ignore all built *.js files
*.js

# re-include these *.js files
!.babelrc.js
!src/**/*.js
!tests/**/*.js
!script/**/*.js

# but not this index file
src/index.js

node_modules

stunsail-*.tgz
