# lock files
npm-shrinkwrap.json
package-lock.json
yarn.lock

# ignore all built *.js files
src/index.js
/build_staging
/dist
/es

# ignore built type definitions
src/index.d.ts

node_modules

stunsail-*.tgz
