.functionHeader {
  display: flex;
  justify-content: flex-end;
}

.functionHeaderName {
  /* align function name to the left */
  margin-right: auto;
}

.functionHeaderTags {
  opacity: 1;
  /* align tags to the right by moving them after the `hash-link` anchor */
  order: 1;
}

.functionHeaderTag {
  margin-left: 0.5rem;
  font-size: 65%;
}

.marginBottomLeading {
  margin-bottom: var(--ifm-leading);
}

.borderBottomContents {
  border-bottom: 1px solid var(--ifm-contents-border-color);
}
